<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper">

	<resultMap id="accMap" type="kr.or.ddit.mohaeng.vo.AccommodationVO">
	    <id property="accNo" column="ACC_NO"/>
		<result property="accName" column="ACC_NAME"/>
		<result property="accFilePath" column="ACC_FILE_PATH"/>
		<result property="areaCode" column="AREA_CODE"/>
		<result property="sigunguCode" column="SIGUNGU_CODE"/>
		<result property="mapx" column="MAPX"/>
		<result property="mapy" column="MAPY"/>
		<result property="ldongRegnCd" column="LDONG_REGN_CD"/>
		<result property="ldongSignguCd" column="LDONG_SIGNGU_CD"/>
		<result property="overview" column="OVERVIEW"/>
		<result property="tel" column="TEL"/>
		<result property="checkInTime" column="CHECK_IN_TIME"/>
		<result property="checkOutTime" column="CHECK_OUT_TIME"/>
		<result property="accNo" column="ACC_NO"/>
		<result property="memNo" column="MEM_NO"/>
		<result property="tripProdNo" column="TRIP_PROD_NO"/>
		<result property="accCatCd" column="ACC_CAT_CD"/>
		<result property="accFileNo" column="ACC_FILE_NO"/>
		<result property="starGrade" column="STAR_GRADE"/>
		<result property="zip" column="ZIP"/>
		<result property="addr1" column="ADDR1"/>
		<result property="addr2" column="ADDR2"/>
		<result property="totalRoomCnt" column="TOTAL_ROOM_CNT"/>
	    <result property="minPrice" column="MIN_PRICE"/>
	    <result property="finalPrice" column="FINAL_PRICE"/>
	    <result property="maxDiscount" column="MAX_DISCOUNT"/>
	    <result property="avgRating" column="AVG_RATING" />
    	<result property="reviewCount" column="REVIEW_COUNT" />
	    
	    <!-- accFacility 타입 객체 -->
	    <association property="accFacility" resultMap="accFacilityMap"/>
			
		<!-- List타입의 RoomType 타입 객체 -->
 	    <collection property="roomTypeList" resultMap="roomTypeMap"/>
 	    	
 	    <!-- 옵션 목록 -->
 	    <collection property="accOptionList" resultMap="accOptionMap"/>
	</resultMap>
	
	<!-- 숙소보유시설 타입 (AccFacilityVO) -->
	<resultMap id="accFacilityMap" type="kr.or.ddit.mohaeng.vo.AccFacilityVO">
        <id property="accNo" column="ACC_NO"/>
        <result property="wifiYn" column="WIFI_YN"/>
        <result property="parkingYn" column="PARKING_YN"/>
        <result property="breakfastYn" column="BREAKFAST_YN"/>
        <result property="poolYn" column="POOL_YN"/>
        <result property="gymYn" column="GYM_YN"/>
        <result property="spaYn" column="SPA_YN"/>
        <result property="restaurantYn" column="RESTAURANT_YN"/>
        <result property="barYn" column="BAR_YN"/>
        <result property="roomServiceYn" column="ROOM_SERVICE_YN"/>
        <result property="laundryYn" column="LAUNDRY_YN"/>
        <result property="smokingAreaYn" column="SMOKING_AREA_YN"/>
        <result property="petFriendlyYn" column="PET_FRIENDLY_YN"/>
    </resultMap>
	
	<!-- 객실 타입 (RoomTypeVO) -->
	<resultMap id="roomTypeMap" type="kr.or.ddit.mohaeng.vo.RoomTypeVO">
		<id property="roomTypeNo" column="ROOM_TYPE_NO"/>
		<result property="roomName" column="ROOM_NAME"/>
		<result property="baseGuestCount" column="BASE_GUEST_COUNT"/>
		<result property="maxGuestCount" column="MAX_GUEST_COUNT"/>
		<result property="bedCount" column="BED_COUNT"/>
		<result property="bedTypeCd" column="BED_TYPE_CD"/>
		<result property="totalRoomCount" column="TOTAL_ROOM_COUNT"/>
		<result property="price" column="PRICE"/>
		<result property="discount" column="DISCOUNT"/>
		<result property="extraGuestFee" column="EXTRA_GUEST_FEE"/>
        <result property="breakfastYn" column="BREAKFAST_YN"/>
		<result property="roomSize" column="ROOM_SIZE"/>
        
        
        <association property="feature" resultMap="featureMap"/>
        <association property="facility" resultMap="facilityMap"/>
        
        <!-- 예약 내역 -->
        <collection property="accResvList" resultMap="accResvMap"/>
        
        <!-- 객실 목록 -->
        <collection property="roomList" resultMap="roomMap"/>
	</resultMap>
	
	<!-- 객실 내 특징 (RoomFeatureVO) -->
	<resultMap id="featureMap" type="kr.or.ddit.mohaeng.vo.RoomFeatureVO" >
		<id property="roomTypeNo" column="ROOM_TYPE_NO"/>
		<result property="oceanViewYn" column="OCEAN_VIEW_YN"/>
		<result property="mountainViewYn" column="MOUNTAIN_VIEW_YN"/>
		<result property="cityViewYn" column="CITY_VIEW_YN"/>
		<result property="livingRoomYn" column="LIVING_ROOM_YN"/>
		<result property="terraceYn" column="TERRACE_YN"/>
		<result property="nonSmokingYn" column="NON_SMOKING_YN"/>
		<result property="kitchenYn" column="KITCHEN_YN"/>
		<result property="freeCancelYn" column="FREE_CANCEL_YN"/>
	</resultMap>
	
	<!-- 객실 내 시설 (RoomFacilityVO) -->
	<resultMap id="facilityMap" type="kr.or.ddit.mohaeng.vo.RoomFacilityVO">
		<id property="roomTypeNo" column="ROOM_TYPE_NO"/>
		<result property="airConYn" column="AIR_CON_YN"/>
		<result property="tvYn" column="TV_YN"/>
		<result property="minibarYn" column="MINIBAR_YN"/>
		<result property="fridgeYn" column="FRIDGE_YN"/>
		<result property="safeBoxYn" column="SAFE_BOX_YN"/>
		<result property="hairDryerYn" column="HAIR_DRYER_YN"/>
		<result property="bathtubYn" column="BATHTUB_YN"/>
		<result property="toiletriesYn" column="TOILETRIES_YN"/>
	</resultMap>
	
	<!-- 객실 (RoomVO) -->
	<resultMap id="roomMap" type="kr.or.ddit.mohaeng.vo.RoomVO">
		<id property="roomInfoNo" column="ROOM_INFO_NO"/>
	    <result property="roomTypeNo" column="ROOM_TYPE_NO"/>
	    <result property="accNo" column="ACC_NO"/>
	    <result property="useUn" column="USE_UN"/>
	</resultMap>
	
	<!-- 숙소 예약 -->
	<resultMap id="accResvMap" type="kr.or.ddit.mohaeng.vo.AccResvVO">
		<id property="accResvNo" column="ACC_RESV_NO"/>
	    <result property="roomTypeNo" column="ROOM_TYPE_NO"/>
	    <result property="resvMemNo" column="RESV_MEM_NO"/>
	    <result property="regDt" column="REG_DT"/>
	    <result property="startDt" column="START_DT"/>
	    <result property="endDt" column="END_DT"/>
	    <result property="stayDays" column="STAY_DAYS"/>
	    <result property="resvStatus" column="RESV_STATUS"/>
	    <result property="arriveTime" column="ARRIVE_TIME"/>
	    <result property="adultCnt" column="ADULT_CNT"/>
	    <result property="childCnt" column="CHILD_CNT"/>
	    <result property="infantCnt" column="INFANT_CNT"/>
	    
	    <result property="payNo" column="PAY_NO"/>
		<association property="accResvAgree" resultMap="accresvAgreeMap"/>
		
		<!-- 숙소 예약 옵션 리스트 - 추가옵션 참조함 -->
		<collection property="accResvOptionList" resultMap="accResvOptionMap" />
	</resultMap>
	
	<!-- 숙소 예약 동의 -->	
	<resultMap id="accresvAgreeMap" type="kr.or.ddit.mohaeng.vo.AccResvAgreeVO">
		<id property="accResvNo" column="ACC_RESV_NO"/>
		<result property="stayTermYn" column="STAY_TERM_YN"/>
		<result property="privacyAgreeYn" column="PRIVACY_AGREE_YN"/>
		<result property="refundAgreeYn" column="REFUND_AGREE_YN"/>
		<result property="marketAgreeYn" column="MARKET_AGREE_YN"/>
		<result property="regDt" column="REG_DT"/>
	</resultMap>
	
	<!-- 추가 옵션 (AccOptionVO) -->
	<resultMap id="accOptionMap" type="kr.or.ddit.mohaeng.vo.AccOptionVO">
		<id property="accOptionNo" column="ACC_OPTION_NO"/>
	    <result property="accNo" column="ACC_NO"/>
	    <result property="accOptionNm" column="ACC_OPTION_NM"/>
	    <result property="accOptionPrice" column="ACC_OPTION_PRICE"/>
	    <result property="personnelCount" column="PERSONNEL_COUNT"/>
	</resultMap>
	
	<!-- 숙소 예약 옵션 -->
	<resultMap id="accResvOptionMap" type="kr.or.ddit.mohaeng.vo.AccResvOptionVO">
		<id property="accResvNo" column="ACC_RESV_NO"/>
	    <id property="accOptionNo" column="ACC_OPTION_NO"/>
	    
	    <!-- 데이터 잇는 거여서 옵션명, 옵션 가격 가져옴 -->
	    <result property="accOptionNm" column="ACC_OPTION_NM"/>
	    <result property="accOptionPrice" column="ACC_OPTION_PRICE"/>
	</resultMap>
	
	<resultMap id="tripProdMap" type="kr.or.ddit.mohaeng.tour.vo.TripProdVO">
			<id property="tripProdNo" column="TRIP_PROD_NO"/>
		    <result property="tripProdTitle" column="TRIP_PROD_TITLE"/>
		    <result property="ctyNm" column="CTY_NM"/>
		    <result property="prodCtgryType" column="PROD_CTGRY_TYPE"/>
		    <result property="thumbImage" column="THUMB_IMAGE"/>
	    
	    <association property="prodSale" javaType="kr.or.ddit.mohaeng.tour.vo.TripProdSaleVO">
	        <id property="tripProdNo" column="TRIP_PROD_NO"/>
	        <result property="price" column="PRICE"/>
	        <result property="netprc" column="NETPRC"/>
	        <result property="discount" column="DISCOUNT"/>
	        <result property="curStock" column="CUR_STOCK"/>
	        <result property="totalStock" column="TOTAL_STOCK"/>
	    </association>
	
	    <collection property="prodReviewList" ofType="kr.or.ddit.mohaeng.product.review.vo.ProdReviewVO">
	        <id property="prodRvNo" column="PROD_RV_NO"/>
			<result property="prodReview" column="PROD_REVIEW"/>
		    <result property="rating" column="RATING"/>
		    <result property="nickname" column="NICKNAME"/>
	    </collection>
	</resultMap>

	<!-- 조인시 사용할 숙소 컬럼 -->
	<sql id="accommodationColumns">
		  ${alias}ACC_NO
		, ${alias}TRIP_PROD_NO
        , ${alias}ACC_NAME
        , ${alias}ADDR1
        , ${alias}ADDR2
        , ${alias}ACC_CAT_CD
        , ${alias}ACC_FILE_NO
        , ${alias}ACC_FILE_PATH
        , ${alias}STAR_GRADE
        , ${alias}OVERVIEW
        , ${alias}TOTAL_ROOM_CNT
        , ${alias}MAPX
        , ${alias}MAPY
        , ${alias}AREA_CODE
        , ${alias}SIGUNGU_CODE
        , ${alias}TEL
        , ${alias}CHECK_IN_TIME
        , ${alias}CHECK_OUT_TIME
        , ${alias}ZIP
        , ${alias}TRIP_PROD_NO
        , ${alias}LDONG_REGN_CD
  	  	, ${alias}LDONG_SIGNGU_CD
	</sql>

	<!-- 조인시 사용할 숙소 보유 시설 컬럼  AF. -->
	<sql id="accFacilityColumns">
		  ${alias}WIFI_YN
        , ${alias}PARKING_YN
        , ${alias}BREAKFAST_YN
        , ${alias}POOL_YN
        , ${alias}GYM_YN
        , ${alias}SPA_YN
        , ${alias}RESTAURANT_YN
        , ${alias}BAR_YN
        , ${alias}ROOM_SERVICE_YN
        , ${alias}LAUNDRY_YN
        , ${alias}SMOKING_AREA_YN
        , ${alias}PET_FRIENDLY_YN
	</sql>

	<!-- 조인시 사용할 객실 타입 컬럼 RT. -->
	<sql id="roomTypeColumns">
		  ${alias}ROOM_TYPE_NO
        , ${alias}ROOM_NAME
        , ${alias}BASE_GUEST_COUNT
        , ${alias}MAX_GUEST_COUNT
        , ${alias}BED_COUNT
        , ${alias}BED_TYPE_CD
        , ${alias}TOTAL_ROOM_COUNT
        , ${alias}PRICE
        , ${alias}DISCOUNT
        , ${alias}EXTRA_GUEST_FEE
        , ${alias}ROOM_SIZE
        , ${alias}BREAKFAST_YN
	</sql>
	
	<!-- 조인시 사용할 객실 내 시설 컬럼(pk없음) RF.-->
	<sql id="roomFacilityColumns">
		  ${alias}AIR_CON_YN
        , ${alias}TV_YN
        , ${alias}MINIBAR_YN
        , ${alias}FRIDGE_YN
        , ${alias}SAFE_BOX_YN
        , ${alias}HAIR_DRYER_YN
        , ${alias}BATHTUB_YN
        , ${alias}TOILETRIES_YN
	</sql>
	
	<!-- 조인시 사용할 객실 내 특징 컬럼(pk없음) RFT. -->
	<sql id="roomFeatureColumns">
  	  	  ${alias}FREE_CANCEL_YN
        , ${alias}OCEAN_VIEW_YN
        , ${alias}MOUNTAIN_VIEW_YN
        , ${alias}CITY_VIEW_YN
        , ${alias}LIVING_ROOM_YN
        , ${alias}TERRACE_YN
        , ${alias}NON_SMOKING_YN
        , ${alias}KITCHEN_YN
	</sql>
	
	<!-- 조인시 사용할 추가 옵션 컬럼(pk없음) -AO. -->
	<sql id="accOptionColumns">
		  ${alias}ACC_NO
	    , ${alias}ACC_OPTION_NM
	    , ${alias}ACC_OPTION_PRICE
	    , ${alias}PERSONNEL_COUNT
	</sql>
	
	<!-- 조인시 사용할 객실 컬럼 (pk없음) R. -->
	<sql id="roomColumns">
		  ${alias}ROOM_TYPE_NO
    	, ${alias}USE_UN
	</sql>
	
	<!-- 숙소 API 정보 INSERT sql태그 사용할 수도?? -->
	<insert id="insertAccommodation" parameterType="kr.or.ddit.mohaeng.vo.AccommodationVO">
    INSERT INTO ACCOMMODATION (
          ACC_NO
        , TRIP_PROD_NO 
        , API_CONTENT_ID  
        , ACC_CAT_CD
        , STAR_GRADE
        , ZIP
        , AREA_CODE
        , SIGUNGU_CODE
        , ADDR1
        , ADDR2
        , TOTAL_ROOM_CNT
        , ACC_NAME
        , ACC_FILE_PATH
        , MAPX
        , MAPY
        , LDONG_REGN_CD
        , LDONG_SIGNGU_CD
    ) VALUES (
          SEQ_ACCOMMODATION.NEXTVAL
        , SEQ_TRIP_PROD_NO.NEXTVAL
        , #{apiContentId}
        , #{accCatCd}
        , #{starGrade}
        , #{zip}
        , #{areaCode}
        , #{sigunguCode}
        , #{addr1}
        , #{addr2}
        , #{totalRoomCnt}
        , #{accName}
        , #{accFilePath}
        , #{mapx}
        , #{mapy}
        , #{ldongRegnCd}
        , #{ldongSignguCd}
    )
	</insert>
	
	<select id="checkDuplicate" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM ACCOMMODATION
        WHERE API_CONTENT_ID = #{contentId}
    </select>
	
	<!-- 목록 페이지 가져오기 -->
	<select id="selectAccommodationListWithPaging" parameterType="kr.or.ddit.mohaeng.vo.AccommodationVO" resultMap="accMap">
	    SELECT 
	          T_LIST.*
	        , R.ROOM_TYPE_NO
	        , R.ROOM_NAME
	        , R.PRICE
	        , R.DISCOUNT
	        , R.MAX_GUEST_COUNT
	        , R.BASE_GUEST_COUNT
	    FROM (
	        SELECT *
	        FROM (
	            SELECT ROWNUM AS rn, a.*
	            FROM (
	                SELECT
	                    t.TRIP_PROD_NO
	                    , t.TRIP_PROD_TITLE AS ACC_NAME
	                    , t.SALE_START_DT
	                    , t.SALE_END_DT
	                    , t.CTY_NM AS AREA_CODE
	                    , t.APPROVE_STATUS
	                    
	                    , acc.ACC_NO
	                    , acc.ADDR1
	                    , acc.ACC_FILE_PATH
	                    , acc.STAR_GRADE
	                    , acc.ACC_CAT_CD as accCatCd
	                    
	                      , <include refid="accFacilityColumns"><property name="alias" value="AF."/></include>
				          
						  , (SELECT MAX(DISCOUNT) FROM ROOM_TYPE RT WHERE RT.ACC_NO = acc.ACC_NO) AS MAX_DISCOUNT
	                      , (SELECT MIN(PRICE * (100 - NVL(DISCOUNT, 0)) / 100) FROM ROOM_TYPE RT WHERE RT.ACC_NO = acc.ACC_NO) AS FINAL_PRICE
	                      , (SELECT MIN(PRICE) FROM ROOM_TYPE RT WHERE RT.ACC_NO = acc.ACC_NO) AS MIN_PRICE
	                      , (SELECT COUNT(*) FROM PROD_REVIEW PR WHERE PR.TRIP_PROD_NO = t.TRIP_PROD_NO) AS REVIEW_COUNT
	                      <!-- 평점 정렬용 -->
	                      , (SELECT NVL(AVG(RATING), 0) FROM PROD_REVIEW PR WHERE PR.TRIP_PROD_NO = t.TRIP_PROD_NO) AS AVG_RATING
	                FROM TRIP_PROD t
	                JOIN ACCOMMODATION acc ON t.TRIP_PROD_NO = acc.TRIP_PROD_NO
	                LEFT OUTER JOIN ACC_FACILITY AF ON acc.ACC_NO = AF.ACC_NO
	                
	                <where>
                    AND t.PROD_CTGRY_TYPE = 'accommodation'
                    AND (t.DEL_YN = 'N' OR t.DEL_YN IS NULL)
                    AND t.APPROVE_STATUS = '판매중'
                    
                    <if test="accCatCd != null and accCatCd != ''">
                        AND acc.ACC_CAT_CD = #{accCatCd}
                    </if>
                
                    <choose>
                        <when test="accNo != null and accNo > 0">
                            AND acc.ACC_NO = #{accNo}
                        </when>
                        <otherwise>
                            <choose>
                                <when test="areaCode != null and areaCode != ''">
                                    AND t.CTY_NM = #{areaCode}
                                </when>
                                <otherwise>
                                    <if test="keyword != null and keyword != ''">
                                        AND (t.TRIP_PROD_TITLE LIKE '%' || #{keyword} || '%' OR acc.ADDR1 LIKE '%' || #{keyword} || '%')
                                    </if>
                                </otherwise>
                            </choose>
                        </otherwise>
                    </choose>
                
                    <if test="adultCount != null and adultCount > 0">
                        AND EXISTS (
                            SELECT 1 FROM ROOM_TYPE RT 
                            WHERE RT.ACC_NO = acc.ACC_NO 
                            AND RT.MAX_GUEST_COUNT >= #{adultCount}
                        )
                    </if>
                    
                    <if test="starGrade != null and starGrade != ''">
                        AND acc.STAR_GRADE = #{starGrade}
                    </if>

                    <if test="priceRange != null and priceRange != ''">
                        <choose>
                            <when test="priceRange == '0-50000'">
                                AND (SELECT MIN(PRICE * (100 - NVL(DISCOUNT, 0)) / 100) FROM ROOM_TYPE RT WHERE RT.ACC_NO = acc.ACC_NO) &lt;= 50000
                            </when>
                            <when test="priceRange == '50000-100000'">
                                AND (SELECT MIN(PRICE * (100 - NVL(DISCOUNT, 0)) / 100) FROM ROOM_TYPE RT WHERE RT.ACC_NO = acc.ACC_NO) BETWEEN 50000 AND 100000
                            </when>
                            <when test="priceRange == '100000-200000'">
                                AND (SELECT MIN(PRICE * (100 - NVL(DISCOUNT, 0)) / 100) FROM ROOM_TYPE RT WHERE RT.ACC_NO = acc.ACC_NO) BETWEEN 100000 AND 200000
                            </when>
                            <when test="priceRange == '200000-'">
                                AND (SELECT MIN(PRICE * (100 - NVL(DISCOUNT, 0)) / 100) FROM ROOM_TYPE RT WHERE RT.ACC_NO = acc.ACC_NO) &gt;= 200000
                            </when>
                        </choose>
                    </if>
                </where>
                
                <choose>
                    <when test="sortBy == 'price_low'"> ORDER BY FINAL_PRICE ASC, t.REG_DT DESC </when>
                    <when test="sortBy == 'price_high'"> ORDER BY FINAL_PRICE DESC, t.REG_DT DESC </when>
                    <when test="sortBy == 'rating'"> ORDER BY AVG_RATING DESC, t.REG_DT DESC </when>
                    <when test="sortBy == 'review'"> ORDER BY REVIEW_COUNT DESC, t.REG_DT DESC </when>
                    <otherwise> ORDER BY t.REG_DT DESC </otherwise>
                </choose>
	
	            ) a
	            <![CDATA[ WHERE ROWNUM <= #{page} * #{pageSize} ]]>
	        )
	        <![CDATA[ WHERE rn > (#{page} - 1) * #{pageSize} ]]>
	    ) T_LIST
	    LEFT JOIN ROOM_TYPE R ON T_LIST.ACC_NO = R.ACC_NO
	    ORDER BY T_LIST.rn ASC, R.PRICE ASC
	</select>
		
	<!-- 검색 필터링  -->
	<select id="selectTotalCount" parameterType="kr.or.ddit.mohaeng.vo.AccommodationVO" resultType="int">
	  SELECT COUNT(*) 
	    FROM ACCOMMODATION A
	    JOIN TRIP_PROD T ON A.TRIP_PROD_NO = T.TRIP_PROD_NO
	    <where>
	        T.PROD_CTGRY_TYPE = 'accommodation'
	        AND T.APPROVE_STATUS = '판매중'
	        AND (T.DEL_YN = 'N' OR T.DEL_YN IS NULL)
	        
	        <if test="accCatCd != null and accCatCd != ''">
	            AND A.ACC_CAT_CD = #{accCatCd}
	        </if>
	
	        <choose>
	            <when test="accNo != null and accNo > 0">
	                AND A.ACC_NO = #{accNo}
	            </when>
	            <otherwise>
	                <choose>
	                    <when test="areaCode != null and areaCode != ''">
	                        AND T.CTY_NM = #{areaCode}
	                    </when>
	                    <otherwise>
	                        <if test="keyword != null and keyword != ''">
	                            AND (T.TRIP_PROD_TITLE LIKE '%' || #{keyword} || '%' OR A.ADDR1 LIKE '%' || #{keyword} || '%')
	                        </if>
	                    </otherwise>
	                </choose>
	            </otherwise>
	        </choose>
	
	        <if test="starGrade != null and starGrade != ''">
	            AND A.STAR_GRADE = #{starGrade}
	        </if>
	    </where>
	</select>
	
	<!-- 목적지로 검색하기 -->
	<select id="searchLocation" parameterType="string" resultType="map">
		SELECT id, name, type FROM (
        SELECT 
            TO_CHAR(RGN_NO) as id,
            RGN_NM as name,
            'REGION' as type,
            1 as sortOrder
        FROM REGION
        WHERE RGN_NM LIKE '%' || #{keyword} || '%'
           OR RGN_DETAIL LIKE '%' || #{keyword} || '%'
        
        UNION ALL
        
        SELECT 
            TO_CHAR(ACC_NO) as id,
            ACC_NAME as name,
            'ACCOMMODATION' as type,
            2 as sortOrder
        FROM (
            SELECT ACC_NO, ACC_NAME 
            FROM ACCOMMODATION 
            WHERE ACC_NAME LIKE '%' || #{keyword} || '%'
            ORDER BY ACC_NAME ASC
        )
        WHERE ROWNUM <![CDATA[ <= ]]> 5
    )
    ORDER BY sortOrder ASC, name ASC
	</select>
	
	<!-- 상품 상세 페이지 정보 가져오기 -->
	<select id="getAccommodationDetail" parameterType="int" resultMap="accMap">
			SELECT 
          <include refid="accommodationColumns"><property name="alias" value="A."/></include>
          , <include refid="accFacilityColumns"><property name="alias" value="AF."/></include>
          , <include refid="roomTypeColumns"><property name="alias" value="RT."/></include>
          , <include refid="roomFacilityColumns"><property name="alias" value="RF."/></include>
          , <include refid="roomFeatureColumns"><property name="alias" value="RFT."/></include>
          
          , P.MEM_NO
        
          , (SELECT MIN(PRICE) FROM ROOM_TYPE RT WHERE RT.ACC_NO = A.ACC_NO) AS MIN_PRICE
          , (SELECT MAX(DISCOUNT) FROM ROOM_TYPE RT WHERE RT.ACC_NO = A.ACC_NO) AS MAX_DISCOUNT
          , (SELECT MIN(PRICE * (100 - NVL(DISCOUNT, 0)) / 100) 
             FROM ROOM_TYPE RT 
             WHERE RT.ACC_NO = A.ACC_NO) AS FINAL_PRICE
	    FROM ACCOMMODATION A
	    JOIN TRIP_PROD P ON A.TRIP_PROD_NO = P.TRIP_PROD_NO
	    LEFT OUTER JOIN ACC_FACILITY AF ON A.ACC_NO = AF.ACC_NO
	    LEFT OUTER JOIN ROOM_TYPE RT ON A.ACC_NO = RT.ACC_NO
	    LEFT OUTER JOIN ROOM_FACILITY RF ON RT.ROOM_TYPE_NO = RF.ROOM_TYPE_NO
	    LEFT OUTER JOIN ROOM_FEATURE RFT ON RT.ROOM_TYPE_NO = RFT.ROOM_TYPE_NO
	    WHERE A.TRIP_PROD_NO = #{tripProdNo}
	    ORDER BY RT.PRICE ASC, RT.ROOM_TYPE_NO ASC
	</select>
	
	<!-- 숙소 보유 시설 가져오기 -->
	<select id="getAccFacility" resultType="kr.or.ddit.mohaeng.vo.AccFacilityVO">
	    SELECT * FROM ACC_FACILITY WHERE ACC_NO = #{accNo}
	</select>
	
	<!-- 객실 타입 가져오기 -->
	<select id="getRoomList" parameterType="int" resultType="kr.or.ddit.mohaeng.vo.RoomTypeVO">
		SELECT
			ACC_NO
			, <include refid="roomTypeColumns"><property name="alias" value=""/></include>
		FROM ROOM_TYPE
		WHERE ACC_NO = #{accNo}
		ORDER BY PRICE ASC
	</select>
	
	<!-- DB 업데이트 -->
	<select id="selectListForDetailUpdate" resultType="kr.or.ddit.mohaeng.vo.AccommodationVO">
	    SELECT 
	        A.ACC_NO,
	        A.API_CONTENT_ID,  A.ACC_NAME
	    FROM ACCOMMODATION A
	    WHERE (A.OVERVIEW IS NULL 
	       OR NOT EXISTS (
	           SELECT 1 FROM ACC_FACILITY AF WHERE AF.ACC_NO = A.ACC_NO
	       ))
	       AND ROWNUM <![CDATA[ <= ]]> 3
	</select>
	
	<!-- 숙소 정보(설명, 전화번호) API 가져오기 -->
	<update id="updateAccommodationDetail" parameterType="kr.or.ddit.mohaeng.vo.AccommodationVO">
	    UPDATE ACCOMMODATION
		  <set>
		    <if test="overview != null and overview != ''">
		      OVERVIEW = #{overview},
		    </if>
		    <if test="tel != null and tel != ''">
		      TEL = #{tel},
		    </if>
		    <if test="checkInTime != null and checkInTime != ''">
		      CHECK_IN_TIME = #{checkInTime},
		    </if>
		    <if test="checkOutTime != null and checkOutTime != ''">
		      CHECK_OUT_TIME = #{checkOutTime},
		    </if>
		  </set>
		  WHERE ACC_NO = #{accNo}
	</update>
	
	<!-- 숙소 정보(보유시설) API 가져오기 -->
	<update id="upsertAccFacility" parameterType="kr.or.ddit.mohaeng.vo.AccFacilityVO">
	    MERGE INTO ACC_FACILITY AF
	    USING DUAL ON (AF.ACC_NO = #{accNo})
	    WHEN MATCHED THEN
	        UPDATE SET 
	            WIFI_YN = #{wifiYn}
	            , PARKING_YN = #{parkingYn}
	            , BREAKFAST_YN = #{breakfastYn}
	            , POOL_YN = #{poolYn}
	            , GYM_YN = #{gymYn}
	            , SPA_YN = #{spaYn}
	            , RESTAURANT_YN = #{restaurantYn}
	            , BAR_YN = #{barYn}
	            , ROOM_SERVICE_YN = #{roomServiceYn}
	            , LAUNDRY_YN = #{laundryYn}
	            , SMOKING_AREA_YN = #{smokingAreaYn}
	            , PET_FRIENDLY_YN = #{petFriendlyYn}
	    WHEN NOT MATCHED THEN
	        INSERT (
	            ACC_NO
	            , <include refid="accFacilityColumns"><property name="alias" value=""/></include>
	        ) VALUES (
	            #{accNo}
	            , #{wifiYn}
	            , #{parkingYn}
	            , #{breakfastYn}
	            , #{poolYn}
	            , #{gymYn}
	            , #{spaYn}
	            , #{restaurantYn}
	            , #{barYn}
	            , #{roomServiceYn}
	            , #{laundryYn}
	            , #{smokingAreaYn}
	            , #{petFriendlyYn}
	        )
	</update>
	
	<!-- 숙소 정보(객실타입) API 가져오기 -->
	<insert id="insertRoomType" parameterType="kr.or.ddit.mohaeng.vo.RoomTypeVO" >
	    INSERT INTO ROOM_TYPE (
	        ACC_NO
	        , ROOM_NAME
	        , BASE_GUEST_COUNT
	        , MAX_GUEST_COUNT
	        , BED_COUNT
	        , BED_TYPE_CD
	        , TOTAL_ROOM_COUNT
	        , PRICE
	        , DISCOUNT
	        , EXTRA_GUEST_FEE
	        , ROOM_SIZE
	        , BREAKFAST_YN
	    ) VALUES (
	       #{accNo}
	        #{roomName}
	        , #{baseGuestCount}
	        , #{maxGuestCount}
	        , #{bedCount}
	        , #{bedTypeCd}
	        , #{totalRoomCount}
	        , #{price}
	        , #{discount}
	        , #{extraGuestFee}
	        , #{roomSize}
	        , #{breakfastYn}
	    )
	</insert>
	
	<!-- 숙소 정보(객실 내 시설) API 가져오기 -->
	<insert id="insertRoomFacility" parameterType="kr.or.ddit.mohaeng.vo.RoomFacilityVO">
	    INSERT INTO ROOM_FACILITY (
	        ROOM_TYPE_NO
	        , <include refid="roomFacilityColumns"><property name="alias" value=""/></include>
	    ) VALUES (
	        #{roomTypeNo}
	        , #{airConYn}
	        , #{tvYn}
	        , #{minibarYn}
	        , #{fridgeYn}
	        , #{safeBoxYn}
	        , #{hairDryerYn}
	        , #{bathtubYn}
	        , #{toiletriesYn}
	    )
	</insert>
	
	<!-- 숙소 정보(객실 내 특징) API 가져오기 -->
	<insert id="insertRoomFeature" parameterType="kr.or.ddit.mohaeng.vo.RoomFeatureVO">
	    INSERT INTO ROOM_FEATURE (
	        ROOM_TYPE_NO
	        , <include refid="roomFeatureColumns"><property name="alias" value=""/></include>
	    ) VALUES (
	        #{roomTypeNo}
	        , #{freeCancelYn}
	        , #{oceanViewYn}
	        , #{mountainViewYn}
	        , #{cityViewYn}
	        , #{livingRoomYn}
	        , #{terraceYn}
	        , #{nonSmokingYn}
	        , #{kitchenYn}
	    )
	</insert>
	
	<!-- 숙소 판매자 정보 가져오기 -->
	<select id="getSellerStatsByProdNo" parameterType="long" resultType="kr.or.ddit.mohaeng.vo.CompanyVO">
	    SELECT 
	          C.BZMN_NM          AS bzmnNm
	        , C.COMP_INTRO       AS compIntro
	        , (SELECT NVL(ROUND((COUNT(CASE WHEN I.INQRY_STATUS = 'DONE' THEN 1 END) / DECODE(COUNT(*), 0, 1, COUNT(*))) * 100, 1), 0)
	           FROM INQUIRY I 
	           WHERE I.REPLY_MEM_NO = C.MEM_NO  AND I.DEL_YN = 'N') AS responseRate
	        , (SELECT NVL(ROUND(AVG(I.REPLY_DT - I.REG_DT) * 24, 1), 0)
	           FROM INQUIRY I 
	           WHERE I.REPLY_MEM_NO = C.MEM_NO 
	             AND I.INQRY_STATUS = 'DONE' 
	             AND I.DEL_YN = 'N') AS avgResponseTime
	    FROM TRIP_PROD T
	    INNER JOIN COMPANY C ON (T.COMP_NO = C.COMP_NO)
	    WHERE T.TRIP_PROD_NO = #{tripProdNo}
	</select>

		<!-- 숙소 상세 타입 가져오기 -->
		<select id="getRoomTypeDetail" parameterType="int" resultType="kr.or.ddit.mohaeng.vo.RoomTypeVO">
		SELECT
			 ROOM_TYPE_NO
			, ACC_NO
			, ROOM_NAME
			, BASE_GUEST_COUNT
			, MAX_GUEST_COUNT
			, BED_COUNT
			, BED_TYPE_CD
			, TOTAL_ROOM_COUNT
			, PRICE
			, DISCOUNT
			, (PRICE * (100 - NVL(DISCOUNT, 0)) / 100) AS finalPrice
			, EXTRA_GUEST_FEE
			, ROOM_SIZE
			, BREAKFAST_YN
		FROM ROOM_TYPE
		WHERE ROOM_TYPE_NO = #{roomTypeNo}
	</select>
	
	<!-- ROOM(실 객실) 추가 -->
	<insert id="insertRoom" parameterType="int">
	    INSERT INTO ROOM (
	        ROOM_INFO_NO, ROOM_TYPE_NO, USE_YN
	    ) VALUES (
	        SEQ_ROOM.NEXTVAL, #{roomTypeNo}, 'Y'
	    )
	</insert>
	
	<!-- 숙소 예약시 데이터 -->
	<insert id="insertAccommodationReservaion" parameterType="kr.or.ddit.mohaeng.vo.AccResvVO">
	    <selectKey keyProperty="accResvNo" resultType="int" order="BEFORE">
	        SELECT SEQ_ACC_RESV.NEXTVAL FROM DUAL
	    </selectKey>
	
	    INSERT INTO ACC_RESV (
	        ACC_RESV_NO
	        , TRIP_PROD_NO
	        , PAY_NO
	        , ROOM_TYPE_NO 
	        , PRICE
	        , RESV_MEM_NO
	        , START_DT 
	        , END_DT 
	        , STAY_DAYS 
	        , ARRIVE_TIME
	        , ADULT_CNT
	        , CHILD_CNT
	        , INFANT_CNT
	        , RESV_REQUEST
	        , REG_DT 
	        , RESV_STATUS
	    ) VALUES (
	        #{accResvNo} 
	        , #{tripProdNo}
	        , #{payNo}
	        , #{roomTypeNo}
	        , #{price} 
	        , #{resvMemNo} 
	        , #{startDt}
	        , #{endDt} 
	        , #{stayDays} 
	        , #{arriveTime}
	        , #{adultCnt}
	        , #{childCnt}
	        , #{infantCnt} 
	        , #{resvRequest}
	        , SYSDATE 
	        , '결제완료'
	    )
	</insert>
	
	<!-- 숙소 결제 시 동의 데이터 -->
	<insert id="insertAccResvAgree" parameterType="kr.or.ddit.mohaeng.vo.AccResvVO">
	    INSERT INTO ACC_RESV_AGREE (
	        ACC_RESV_NO
	        , STAY_TERM_YN
	        , PRIVACY_AGREE_YN
	        , REFUND_AGREE_YN
	        , MARKET_AGREE_YN
	        , REG_DT
	    ) VALUES (
	        #{accResvNo}
	        , #{accResvAgree.stayTermYn}
	        , #{accResvAgree.privacyAgreeYn}
	        , #{accResvAgree.refundAgreeYn}
	        , #{accResvAgree.marketAgreeYn}
	        , SYSDATE
	    )
	</insert>
	
	<!-- 숙박 결제 시 구입상품목록 insert -->
	<insert id="insertProdList" parameterType="kr.or.ddit.mohaeng.vo.TripProdListVO">
		<selectKey keyProperty="prodListNo" resultType="int" order="BEFORE">
			SELECT SEQ_TRIP_PROD_LIST.NEXTVAL FROM DUAL
		</selectKey>
	    INSERT INTO TRIP_PROD_LIST (
	        PROD_LIST_NO
	        , PAY_NO
	        , TRIP_PROD_NO
	        , UNIT_PRICE
	        , DISCOUNT_AMT
	        , PAY_PRICE
	        , QUANTITY
	        , RESV_DT
	        , USE_TIME
	        , RSV_MEMO
	    ) VALUES (
	          #{prodListNo}
	        , #{payNo}
	        , #{tripProdNo}
	        , #{unitPrice}
	        , #{discountAmt}
	        , #{payPrice}
	        , #{quantity}
	        , #{resvDt}
	        , #{useTime}
	        , #{rsvMemo}
	    )
	</insert>
	
	<!-- 숙박 결제 시 매출 테이블 insert  -->
	<insert id="insertSales" parameterType="kr.or.ddit.mohaeng.vo.SalesVO">
	    INSERT INTO SALES (
	        SALE_NO
	        , PROD_LIST_NO
	        , SALE_DT
	        , NET_SALES
	        , SETTLE_STAT_CD
	    ) VALUES (
	        SEQ_SALES.NEXTVAL
	        , #{prodListNo}
	        , SYSDATE
	        , #{netSales}
	        , '정산대기'
	    )
	</insert>
	
	<!-- 숙박 상품 취소 시 결제 테이블 취소 처리 -->
	<update id="updatePaymentCancel" parameterType="kr.or.ddit.mohaeng.vo.PaymentVO">
	    UPDATE PAYMENT
	       SET PAY_STATUS = '결제취소',
	           CANCEL_DT = SYSDATE,
	           CANCEL_REASON = #{cancelReason}
	     WHERE PAY_NO = #{payNo}
	       AND MEM_NO = #{memNo} </update>
	
	<!--  숙박 상품 취소 시 매출 테이블 취소 처리 -->
	<update id="updateSalesCancel" parameterType="int">
	    UPDATE SALES
	       SET SETTLE_STAT_CD = '취소'
	     WHERE PROD_LIST_NO IN (
	         SELECT PROD_LIST_NO 
	           FROM PROD_LIST 
	          WHERE PAY_NO = #{payNo}
	     )
	</update>
	
</mapper>