<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mohaeng.business.mapper.IBusinessProductMapper">
	
	<!-- 여행상품 -->
	<resultMap id="tripPordMap" type="kr.or.ddit.mohaeng.vo.BusinessProductsVO">
		<id property="tripProdNo" column="TRIP_PROD_NO"/>
		<result property="compNo" column="COMP_NO" />
	    <result property="memNo" column="MEM_NO" />
	    <result property="prodCtgryType" column="PROD_CTGRY_TYPE" />
	    <result property="approveStatus" column="APPROVE_STATUS" />
	    <result property="tripProdTitle" column="TRIP_PROD_TITLE" />
	    <result property="tripProdContent" column="TRIP_PROD_CONTENT" />
	    <result property="saleStartDt" column="SALE_START_DT" />
	    <result property="saleEndDt" column="SALE_END_DT" />
	    <result property="attachNo" column="ATTACH_NO" />
	    <result property="viewCnt" column="VIEW_CNT" />
	    <result property="regDt" column="REG_DT" />
	    <result property="modDt" column="MOD_DT" />
	    <result property="aprvYn" column="APRV_YN" />
	    <result property="rejRsn" column="REJ_RSN" />
	    <result property="rejDt" column="REJ_DT" />
	    <result property="resDt" column="RES_DT" />
	    <result property="delYn" column="DEL_YN" />
	    <result property="delDt" column="DEL_DT" />
	    <result property="ctyNm" column="CTY_NM" />
		
		<association property="prodSale" resultMap="prodSaleMap"/>
		<association property="prodInfo" resultMap="prodInfoMap"/>
		<association property="prodPlace" resultMap="prodPlaceMap"/>
	</resultMap>
	
	<!-- 상품 판매 정보 -->
	<resultMap id="prodSaleMap" type="kr.or.ddit.mohaeng.tour.vo.TripProdSaleVO">
		<id property="tripProdNo" column="TRIP_PROD_NO" />
	    <result property="price" column="PRICE" />
	    <result property="netprc" column="NETPRC" />
	    <result property="discount" column="DISCOUNT" />
	    <result property="leadTime" column="LEAD_TIME" />
	    <result property="totalStock" column="TOTAL_STOCK" />
	    <result property="curStock" column="CUR_STOCK" />
	</resultMap>
	
	<!-- 상품 이용안내 -->
	<resultMap id="prodInfoMap" type="kr.or.ddit.mohaeng.tour.vo.TripProdInfoVO">
		<id property="tripProdNo" column="TRIP_PROD_NO" />
	    <result property="prodRuntime" column="PROD_RUNTIME" />
	    <result property="prodDuration" column="PROD_DURATION" />
	    <result property="prodMinPeople" column="PROD_MIN_PEOPLE" />
	    <result property="prodMaxPeople" column="PROD_MAX_PEOPLE" />
	    <result property="prodLimAge" column="PROD_LIM_AGE" />
	    <result property="prodInclude" column="PROD_INCLUDE" />
	    <result property="prodExclude" column="PROD_EXCLUDE" />
	    <result property="prodNotice" column="PROD_NOTICE" />
	</resultMap>
	
	<!-- 여행상품 관광지 -->
	<resultMap id="prodPlaceMap" type="kr.or.ddit.mohaeng.tour.vo.TripProdPlaceVO">
		<id property="prodPlcNo" column="PROD_PLC_NO" />
	    <result property="tripProdNo" column="TRIP_PROD_NO" />
	    <result property="addr1" column="ADDR1" />
	    <result property="addr2" column="ADDR2" />
	</resultMap>
	
	<!--  tripProd 컬럼 -->
	<sql id="tripProdColumns">
	      t.TRIP_PROD_NO
	    , t.COMP_NO
	    , t.MEM_NO
	    , t.PROD_CTGRY_TYPE
	    , t.APPROVE_STATUS
	    , t.TRIP_PROD_TITLE
	    , t.TRIP_PROD_CONTENT
	    , t.SALE_START_DT
	    , t.SALE_END_DT
	    , t.ATTACH_NO
	    , t.VIEW_CNT
	    , t.REG_DT
	    , t.MOD_DT
	    , t.APRV_YN
	    , t.DEL_YN
	    , t.CTY_NM
	</sql>
	
	<!--  tripProdSale 컬럼 -->
	<sql id="prodSaleColumns">
	      s.PRICE
	    , s.NETPRC
	    , s.DISCOUNT
	    , s.LEAD_TIME
	    , s.TOTAL_STOCK
	    , s.CUR_STOCK
	</sql>
	
	<!--  tripProdInfo 컬럼 -->
	<sql id="prodInfoColumns">
	      i.PROD_RUNTIME
	    , i.PROD_DURATION
	    , i.PROD_MIN_PEOPLE
	    , i.PROD_MAX_PEOPLE
	    , i.PROD_LIM_AGE
	    , i.PROD_INCLUDE
	    , i.PROD_EXCLUDE
	    , i.PROD_NOTICE
	</sql>
	
	<!--  tripProdPlace 컬럼 -->
	<sql id="prodPlaceColumns">
	      p.PROD_PLC_NO
	    , p.ADDR1
	    , p.ADDR2
	</sql>
	
	
	<!-- 본인 기업회원 투어 상품 나중에 숙박도 추가해야됨 -->
	<select id="getProductlist" parameterType="kr.or.ddit.mohaeng.tour.vo.TripProdVO" resultType="kr.or.ddit.mohaeng.tour.vo.TripProdVO">
        SELECT *
        FROM (
            SELECT ROWNUM AS rn, a.*
            FROM (
                SELECT
                    <include refid="tripProdColumns" />
                    , <include refid="prodSaleColumns"/>
                    , r.AVG_RATING 
                    , r.REVIEW_COUNT
                    , r.RECOMMEND_COUNT,
					(SELECT AFD.FILE_PATH 
					 FROM ATTACH_FILE_DETAIL AFD 
					 WHERE AFD.ATTACH_NO = t.ATTACH_NO 
					   AND AFD.USE_YN = 'Y' 
					   AND ROWNUM = 1) AS THUMB_IMAGE
                FROM TRIP_PROD t
                LEFT JOIN TRIP_PROD_SALE s ON t.TRIP_PROD_NO = s.TRIP_PROD_NO
                LEFT JOIN TRIP_PROD_INFO i ON t.TRIP_PROD_NO = i.TRIP_PROD_NO
                LEFT JOIN (
                    SELECT 
                        TRIP_PROD_NO,
                        ROUND(AVG(RATING), 1) AS AVG_RATING,
                        COUNT(*) AS REVIEW_COUNT,
                        COUNT(CASE WHEN RCMDTN_YN = 'Y' THEN 1 END) AS RECOMMEND_COUNT
                    FROM PROD_REVIEW
                    GROUP BY TRIP_PROD_NO
                ) r ON t.TRIP_PROD_NO = r.TRIP_PROD_NO
                WHERE (t.DEL_YN = 'N' OR t.DEL_YN IS NULL)
                AND t.MEM_NO = #{memNo}
                <!-- 검색어 -->
                <if test="keyword != null and keyword != ''">
                    AND (t.TRIP_PROD_TITLE LIKE '%' || #{keyword} || '%'
                         OR t.TRIP_PROD_CONTENT LIKE '%' || #{keyword} || '%')
                </if>
                <!-- 카테고리 -->
                <if test="prodCtgryType != null and prodCtgryType !=''">
                	AND t.PROD_CTGRY_TYPE = #{prodCtgryType}
                </if>
       			ORDER BY  t.TRIP_PROD_NO ASC
            ) a
            <![CDATA[
            WHERE ROWNUM <= #{page} * #{pageSize}
            ]]>
        )
        <![CDATA[
        WHERE rn > (#{page} - 1) * #{pageSize}
        ]]>
	</select>
	
	<!-- 상품 현황 통계 -->
	<select id="getProductAggregate" parameterType="kr.or.ddit.mohaeng.tour.vo.TripProdVO" resultType="kr.or.ddit.mohaeng.tour.vo.TripProdVO">
		SELECT 
			COUNT(*) AS totalCount
			,COUNT(CASE WHEN TP.APPROVE_STATUS = '판매중' THEN TP.APPROVE_STATUS END) AS approveCount
		    ,COUNT(CASE WHEN TP.APPROVE_STATUS = '판매중지' THEN TP.APPROVE_STATUS END) AS unapproveCount
			,SUM(TPS.TOTAL_STOCK - TPS.CUR_STOCK) AS totalSales
		FROM TRIP_PROD TP
		INNER JOIN TRIP_PROD_SALE TPS ON (TP.TRIP_PROD_NO = TPS.TRIP_PROD_NO)
		WHERE TP.MEM_NO = #{memNo}
		AND (TP.DEL_YN = 'N' OR TP.DEL_YN IS NULL)
	</select>
	
	<!-- 상품, 상품 이용안내, 상품 가격, 상품 장소 -->
	<select id="retrieveProductDetail" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO" resultMap="tripPordMap">
		SELECT
			<include refid="tripProdColumns"/>
			, <include refid="prodSaleColumns"/>
			, <include refid="prodInfoColumns"/>
			, <include refid="prodPlaceColumns"/>
			, (SELECT AFD.FILE_PATH 
				 FROM ATTACH_FILE_DETAIL AFD 
				 WHERE AFD.ATTACH_NO = t.ATTACH_NO 
				   AND AFD.USE_YN = 'Y' 
				   AND ROWNUM = 1) AS THUMB_IMAGE
		FROM TRIP_PROD t
		LEFT JOIN TRIP_PROD_SALE s ON (t.TRIP_PROD_NO = s.TRIP_PROD_NO)
		LEFT JOIN TRIP_PROD_INFO i ON (t.TRIP_PROD_NO = i.TRIP_PROD_NO)
		LEFT JOIN TRIP_PROD_PLACE p ON (t.TRIP_PROD_NO = p.TRIP_PROD_NO)
	   WHERE t.TRIP_PROD_NO = #{tripProdNo}
	</select>
	
	<!-- 예약 가능 시간-->
	<select id="retrieveProdTimeList" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO" resultType="kr.or.ddit.mohaeng.tour.vo.ProdTimeInfoVO">
		SELECT
		    TIME_INFO_NO
		    , TRIP_PROD_NO
		    , RSVT_AVAILABLE_TIME
		FROM PROD_TIME_INFO
	   WHERE TRIP_PROD_NO = #{tripProdNo}
	   ORDER BY TIME_INFO_NO
	</select>
	
	<!-- 상품 사진 목록 -->
	<select id="retrieveProdImages" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO" resultType="kr.or.ddit.mohaeng.vo.AttachFileDetailVO">
		SELECT
		    FILE_NO
		    , ATTACH_NO
		    , FILE_NAME
		    , FILE_ORIGINAL_NAME
		    , FILE_EXT
		    , FILE_SIZE
		    , FILE_PATH
		    , FILE_GB_CD
		    , MIMY_TYPE
		    , USE_YN
		FROM ATTACH_FILE_DETAIL
	   WHERE ATTACH_NO = #{attachNo}
	     AND USE_YN = 'Y'
	   ORDER BY FILE_NO
	</select>

	<!-- 판매중인 상품, 상품 이용안내, 상품 가격, 상품 장소, 숙소 정보, 숙소 보유시설 정보 변경 -->
	<!-- 숙소 정보, 숙소 보유시설은 나중에 변경 -->
	<update id="modifyProduct" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO">
		UPDATE TRIP_PRODUCT t
	    INNER JOIN TRIP_PROD_SALE s ON t.TRIP_PROD_NO = s.TRIP_PROD_NO
	    INNER JOIN TRIP_PROD_INFO i ON t.TRIP_PROD_NO = i.TRIP_PROD_NO
	    INNER JOIN TRIP_PROD_PLACE p ON t.TRIP_PROD_NO = p.TRIP_PROD_NO
	    <set>
		    t.PROD_CTGRY_TYPE = #{prodCtgryType}
		    , t.APPROVE_STATUS = '판매중지'
		    , t.TRIP_PROD_TITLE = #{tripProdTitle}
		    , t.TRIP_PROD_CONTENT = #{tripProdContent}
		    , t.SALE_START_DT = #{saleStartDt}
	        , t.SALE_END_DT = #{saleEndDt}
		    <if test="attachNo != null" >, t.ATTACH_NO = #{attachNo}</if>
		    , t.MOD_DT = sysdate
		    , t.APRV_YN = 'N'
		    , t.CTY_NM = #{ctyNm}
	        , t.MOD_DT = sysdate 
			
			, s.PRICE             = #{price}
	        , s.NETPRC            = #{netprc}
	        , s.DISCOUNT          = #{discount}
	        , s.LEAD_TIME         = #{leadTime}
	        , s.TOTAL_STOCK       = #{totalStock}
	        
	        , i.PROD_RUNTIME      = #{prodRuntime}
	        , i.PROD_DURATION     = #{prodDuration}
	        , i.PROD_MIN_PEOPLE   = #{prodMinPeople}
	        , i.PROD_MAX_PEOPLE   = #{prodMaxPeople}
	        , i.PROD_LIM_AGE      = #{prodLimAge}
	        , i.PROD_INCLUDE	  = #{prodInclude}
		    , i.PROD_EXCLUDE      = #{prodExclude}
		    , i.PROD_NOTICE		  = #{prodNotice}
		    
	        , p.ADDR1             = #{addr1}
	        , p.ADDR2             = #{addr2}
	    </set>
	    WHERE t.TRIP_PROD_NO = #{tripProdNo}
	</update>
	
	<!--  -->
	<delete id="deleteProdTimeInfo" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO">
		DELETE FROM PROD_TIME_INFO 
     	 WHERE TRIP_PROD_NO = #{tripProdNo}
	</delete>
	
	<insert id="insertProdTimeInfo" parameterType="kr.or.ddit.mohaeng.tour.vo.ProdTimeInfoVO">
		INSERT INTO PROD_TIME_INFO (
	          TIME_INFO_NO
	        , TRIP_PROD_NO
	        , RSVT_AVAILABLE_TIME
	    )
	    SELECT SEQ_PROD_TIME_INFO.NEXTVAL, A.*
	    FROM (
	        <foreach collection="list" item="time" separator="UNION ALL">
	            SELECT 
	                  #{time.tripProdNo}
	                , #{time.rsvtAvailableTime}
	            FROM DUAL
	        </foreach>
	    ) A
	</insert>
	
	<!-- 상품 판매 정보 변경 -->
	<update id="updateProductStatus" parameterType="kr.or.ddit.mohaeng.tour.vo.TripProdVO">
		UPDATE TRIP_PROD
		    SET APPROVE_STATUS = #{approveStatus}
		    WHERE TRIP_PROD_NO = #{tripProdNo}
	</update>

	<!-- 판매 상품 삭제 -->
	<update id="deleteProductStatus" parameterType="kr.or.ddit.mohaeng.tour.vo.TripProdVO">
		UPDATE TRIP_PROD
		    SET 
		    del_yn = 'Y'
    		, del_dt = SYSDATE
		    WHERE TRIP_PROD_NO = #{tripProdNo}
	</update>

</mapper>