<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mohaeng.community.chat.mapper.IChatMapper">

	<!-- 채팅방 생성 -->
	<insert id="insertChatRoom" parameterType="kr.or.ddit.mohaeng.vo.ChatRoomVO">
	    <selectKey keyProperty="chatId" resultType="int" order="BEFORE">
        SELECT SEQ_CHAT_ROOM.NEXTVAL FROM DUAL
    	</selectKey>
		INSERT INTO CHAT_ROOM (
				  CHAT_ID
				  , CHAT_NAME
				  , CHAT_CTGRY
				  , CHAT_MAX
				  , REG_ID
				  , REG_DT
		) VALUES (
					#{chatId}
				  , #{chatName}
				  , #{chatCtgry}
				  , #{chatMax}
				  , #{regId}
				  , SYSDATE	
		)
	</insert>
	
	<!-- 채팅방 유저 삭제 -->
	<delete id="deleteAllChatUsersByRoomId">
	    DELETE FROM CHAT_USER
	    WHERE CHAT_ID = #{chatId}
	</delete>
	
	<!-- 채팅방 메시지 삭제 -->
	<update id="deleteAllChatMessagesByRoomId">
	    UPDATE CHAT
	    SET CHAT_DEL = 'Y'
	    WHERE CHAT_ID = #{chatId}
	</update>
	
	<!-- HOST 퇴장 시 채팅방 삭제 -->
	<delete id="deleteChatRoomPermanently">
	    DELETE FROM CHAT_ROOM
	    WHERE CHAT_ID = #{chatId}
	</delete>
		
	<!-- 채팅방 HOST 생성 -->
	<insert id="insertChatHost" parameterType="kr.or.ddit.mohaeng.vo.ChatUserVO">
		INSERT INTO CHAT_USER (
				  CHAT_ID
				  , CHAT_USER_NO
				  , JOINED_AT
				  , CHAT_ROLE
				  , CHAT_STATUS
		) VALUES (
				 #{chatId}
				  , #{chatUserNo}
				  , SYSDATE
				  , 'HOST'
				  , 'ONLINE'
		)
	</insert>

	<!-- 채팅방 목록 조회 -->
	<select id="selectChatRooms">
		 SELECT
		        R.CHAT_ID        AS chatId
		      , R.CHAT_NAME      AS chatName
		      , R.CHAT_CTGRY     AS chatCtgry
		      , C.CD_NAME        AS chatCtgryName
		      , R.CHAT_MAX       AS chatMax
		      , NVL(CNT.USER_CNT, 0) AS currentUsers
		      , R.REG_ID         AS createdById
		      , U.NICKNAME       AS createdByNickname
		    FROM CHAT_ROOM R
		    LEFT JOIN CODE C
		      ON R.CHAT_CTGRY = C.CD
		     AND C.CDGR = 'CHAT_CATEGORY'
		    LEFT JOIN (
		        SELECT CHAT_ID, COUNT(*) AS USER_CNT
		        FROM CHAT_USER
		        GROUP BY CHAT_ID
		    ) CNT
		      ON R.CHAT_ID = CNT.CHAT_ID
		    LEFT JOIN MEMBER M
		      ON R.REG_ID = M.MEM_ID
		    LEFT JOIN MEM_USER U
		      ON M.MEM_NO = U.MEM_NO
		<where>
			<if test="category != null and category != ''">
				R.CHAT_CTGRY = #{category}
			</if>
		</where> 
		ORDER BY R.REG_DT DESC
		
	</select>
	
	<!--  채팅방 중복 입장 체크 -->
	<select id="existsChatUser">
		SELECT COUNT(*)
		FROM CHAT_USER
		WHERE CHAT_ID = #{chatId}
		  AND CHAT_USER_NO = #{memNo}
	</select>
	
	<!-- 채팅방 입장 시 현재 인원 수 체크 -->
	<select id="countChatUsers">
		SELECT COUNT(*)
		FROM CHAT_USER
		WHERE CHAT_ID = #{chatId}
	</select>
	
	<!--  채팅방 입장 시 최대 인원 수 체크 -->
	<select id="selectChatMax">
		SELECT CHAT_MAX
		FROM CHAT_ROOM
		WHERE CHAT_ID = #{chatId}
	</select>
	
	<!--  채팅방 입장 시 merge -->
	<insert id="insertChatUser">
		MERGE INTO CHAT_USER CU
		USING DUAL
		ON (
			CU.CHAT_ID = #{chatId}
			AND CU.CHAT_USER_NO = #{memNo}
		)
		WHEN MATCHED THEN
			UPDATE SET
			CHAT_STATUS = 'ONLINE'
			, JOINED_AT = SYSDATE
		WHEN NOT MATCHED THEN
			INSERT (
				CHAT_ID
				, CHAT_USER_NO
				, JOINED_AT
				, CHAT_ROLE
				, CHAT_STATUS
			) VALUES (
				#{chatId}
				, #{memNo}
				, SYSDATE
				, 'GUEST'
				, 'ONLINE'
			)
			
	</insert>
	
	<!-- WebSocket 끊길 때 update -->
	<update id="disconnectChatUser">
		UPDATE CHAT_USER
		SET CHAT_STATUS = 'OFFLINE'
		WHERE CHAT_ID = #{chatId} 
		AND CHAT_USER_NO = #{memNo}
	</update>
	
	<!-- 채팅방 퇴장 -->
	<delete id="exitChatUser">
	    DELETE FROM CHAT_USER
	    WHERE CHAT_ID = #{chatId}
	      AND CHAT_USER_NO = #{memNo}
	</delete>
	
	<!-- 채팅방 정보 가져오기 -->
	<select id="getChatRoomById" parameterType="long" resultType="kr.or.ddit.mohaeng.vo.ChatRoomVO">
		SELECT
			R.CHAT_ID
		  , R.CHAT_NAME
		  , R.REG_ID
		  , R.CHAT_CTGRY
		  , C. CD_NAME	AS chat_ctgry_name
		  , R.CHAT_MAX
		  , (SELECT COUNT(*) FROM CHAT_USER WHERE CHAT_ID = R.CHAT_ID) AS currentUsers
		FROM CHAT_ROOM R
		LEFT JOIN CODE C ON R.CHAT_CTGRY = C.CD AND C.CDGR = 'CHAT_CATEGORY'
		WHERE R.CHAT_ID = #{chatId}
	</select>
	
	<!-- 채팅방 내 유저 정보 가져오기 -->
	<select id="getChatUsersByRoomId" parameterType="long" resultType="kr.or.ddit.mohaeng.vo.ChatUserVO">
		SELECT
			U.MEM_ID   AS memId
		  , M.NICKNAME AS memName
		 FROM CHAT_USER CU
		 JOIN MEMBER U ON CU.CHAT_USER_NO = U.MEM_NO
		 JOIN MEM_USER M ON U.MEM_NO = M.MEM_NO
		 WHERE CU.CHAT_ID = #{chatId}
		  AND  CU.CHAT_STATUS != 'EXIT'
	</select>
	
	<!-- 채팅 메시지 insert -->
	<insert id="insertMessage" parameterType="kr.or.ddit.mohaeng.community.chat.dto.ChatMessageDTO">
    INSERT INTO CHAT (
        CHAT_NO
        , CHAT_ID
        , CHAT_DESC
        , CHAT_SENDER_ID
        , CHAT_SENDTIME
        , CHAT_TYPE
        , CHAT_DEL
    ) VALUES (
        SEQ_CHAT_MSG.NEXTVAL
        , #{chatId}
		, #{message}
        , #{memId}
        , SYSDATE
        , #{type}
        , 'N'
    )
	</insert>
	
	<!-- 채팅방 과거 메시지 내역 가져오기 -->
	<select id="getChatMessageByRoomId" resultType="kr.or.ddit.mohaeng.vo.ChatVO">
	SELECT
          A.CHAT_NO
        , A.CHAT_ID
        , A.CHAT_DESC
        , A.CHAT_SENDER_ID
        , A.CHAT_SENDTIME
        , A.CHAT_ATCH
        , A.CHAT_TYPE
        , C.NICKNAME AS memNickname 
    FROM CHAT A
    LEFT OUTER JOIN MEMBER B ON (A.CHAT_SENDER_ID = B.MEM_ID)
    LEFT OUTER JOIN MEM_USER C ON (B.MEM_NO = C.MEM_NO)
    WHERE A.CHAT_ID = #{chatId}
      AND A.CHAT_TYPE = 'CHAT'
      AND A.CHAT_DEL = 'N'
    ORDER BY A.CHAT_SENDTIME ASC
	</select>
</mapper>