<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mohaeng.login.mapper.IMemCompMapper">

	<resultMap type="kr.or.ddit.mohaeng.vo.MemberVO" id="memCompMap">
		<id property="memNo" column="MEM_NO"/>
		<result property="memId" column="MEM_ID"/>
		<result property="memPassword" column="MEM_PASSWORD"/>
		<result property="memName" column="MEM_NAME"/>
		<result property="memEmail" column="MEM_EMAIL"/>
		<result property="memProfilePath" column="MEM_PROFILE_PATH"/>

		<association property="company" javaType="kr.or.ddit.mohaeng.vo.CompanyVO">
	        <id property="compNo" column="COMP_NO"/>
			<result property="memNo" column="MEM_NO"/>
			<result property="brno" column="BRNO"/>
			<result property="prmmiMnno" column="PRMMI_MNNO"/>
			<result property="bzmnNm" column="BZMN_NM"/>
			<result property="rprsvNm" column="RPRSV_NM"/>
			<result property="rprsvEmladr" column="RPRSV_EMLADR"/>
			<result property="compZip" column="COMP_ZIP"/>
			<result property="compAddr1" column="COMP_ADDR1"/>
			<result property="compAddr2" column="COMP_ADDR2"/>
			<result property="compUrl" column="COMP_URL"/>
			<result property="compTel" column="COMP_TEL"/>
			<result property="bankCd" column="BANK_CD"/>
			<result property="depositor" column="DEPOSITOR"/>
			<result property="accountNo" column="ACCOUNT_NO"/>
			<result property="compBizFile" column="COMP_BIZ_FILE"/>
			<result property="industryCd" column="INDUSTRY_CD"/>
			<result property="compIntro" column="COMP_INTRO"/>
	    </association>
	    
	    <association property="memComp" javaType="kr.or.ddit.mohaeng.vo.MemCompVO">
		    <id property="memNo" column="MEM_NO"/>
		    <result property="memCompTel" column="MEM_COMP_TEL"/>
		    <result property="memCompEmail" column="MEM_COMP_EMAIL"/>
		    <result property="masterYn" column="MASTER_YN"/>
		    <result property="aprvYn" column="APRV_YN"/>
		    <result property="aprvDt" column="APRV_DT"/>
		    <result property="rejRsn" column="REJ_RSN"/>
		</association>
		
		<collection property="authList" ofType="kr.or.ddit.mohaeng.vo.MemberAuthVO">
	        <result property="memAuthNo" column="MEM_AUTH_NO"/>
	        <result property="memNo" column="MEM_NO"/>
	        <result property="auth" column="AUTH"/>
	        <result property="regDt" column="REG_DT"/>
		</collection>
	</resultMap>

    <resultMap type="kr.or.ddit.mohaeng.vo.MemberAuthVO" id="authMap">
		<result property="memAuthNo" column="MEM_AUTH_NO"/>
		<result property="memNo" column="MEM_NO"/>
		<result property="auth" column="AUTH"/>
		<result property="regDt" column="REG_DT"/>
	</resultMap>
		
	<select id="countByMemNo" resultType="int">
        SELECT COUNT(*)
        FROM MEM_COMP
        WHERE MEM_NO = #{memNo}
    </select>
    
    <select id="selectAprvYnByMemNo" parameterType="int" resultType="int">
	    SELECT COUNT(*)
	    FROM MEM_COMP
	    WHERE MEM_NO = #{memNo}
	      AND APRV_YN = 'Y'
	</select>
	
	<!-- 회원가입 -->
    <insert id="insertMember" parameterType="kr.or.ddit.mohaeng.vo.MemberVO">
    	<selectKey keyProperty="memNo" resultType="int" order="BEFORE">
    		SELECT SEQ_MEMBER_NO.NEXTVAL FROM dual
    	</selectKey>
    	
		 INSERT INTO MEMBER
		    (MEM_NO, MEM_ID, MEM_PASSWORD, MEM_NAME, MEM_EMAIL
		    , MEM_PROFILE, POINT, MEM_STATUS, DEL_YN, WDRW_RESN
		    , ENABLED, MEM_SNS_YN, SNS_TYPE, SNS_ID, REG_DT, UDT_DT, WDRW_DT)
		VALUES
		    ( #{memNo}, #{memId}, #{memPassword}, #{memName}, #{memEmail}
		    , NULL, 0, 'WAIT', 'N', NULL
		    , 1, 'N', NULL, NULL, SYSDATE, NULL, NULL )
    </insert>
    
    <!-- 기업회원 권한 저장 -->
	<insert id="insertAuth" parameterType="kr.or.ddit.mohaeng.vo.MemberAuthVO">
	
	    INSERT INTO MEMBER_AUTH (
	        MEM_AUTH_NO, MEM_NO, AUTH, REG_DT
	    ) VALUES (
	        SEQ_MEMBER_AUTH_NO.NEXTVAL, #{memNo}, 'ROLE_BUSINESS', SYSDATE
	    )
	</insert>
	
	<!-- 기업 정보 저장 -->
	<insert id="insertCompany" parameterType="kr.or.ddit.mohaeng.vo.CompanyVO">
	    <selectKey keyProperty="compNo" resultType="int" order="BEFORE">
    		SELECT SEQ_COMPANY_NO.NEXTVAL FROM dual
    	</selectKey>
	    INSERT INTO COMPANY (
		COMP_NO, MEM_NO, BRNO, PRMMI_MNNO, BZMN_NM, RPRSV_NM, 
		RPRSV_EMLADR, COMP_ZIP, COMP_ADDR1, COMP_ADDR2, COMP_URL,
		COMP_TEL, BANK_CD, DEPOSITOR, ACCOUNT_NO, COMP_BIZ_FILE,
		INDUSTRY_CD, COMP_INTRO        
    ) VALUES (
		#{compNo}, #{memNo}, #{brno}, #{prmmiMnno}, #{bzmnNm}, #{rprsvNm},
        #{rprsvEmladr}, #{compZip}, #{compAddr1}, #{compAddr2}, #{compUrl},
        #{compTel}, #{bankCd}, #{depositor}, #{accountNo}, #{compBizFile},
        #{industryCd}, #{compIntro}
    )

	</insert>
	
	<!-- 기업회원 정보 저장 -->
	<insert id="insertMemComp" parameterType="kr.or.ddit.mohaeng.vo.MemCompVO">
	    INSERT INTO MEM_COMP (
	        MEM_NO, MEM_COMP_TEL, MEM_COMP_EMAIL, MASTER_YN, APRV_YN, APRV_DT, REJ_RSN
	    ) VALUES (
	        #{memNo}, #{memCompTel}, #{memCompEmail}, 'Y', 'N', NULL, NULL
	    )
	</insert>
	
	<!-- 내 정보 수정시 아이디 정보 조회 -->
	<select id="findByCompId" resultMap="memCompMap">
	SELECT 
	      A.MEM_NO
	    , A.MEM_ID
	    , A.MEM_NAME
	    , A.MEM_EMAIL
	    , A.MEM_PASSWORD
	    , B.COMP_NO
	    , B.MEM_NO
	    , B.BRNO
	    , B.PRMMI_MNNO
	    , B.BZMN_NM
	    , B.RPRSV_NM
	    , B.RPRSV_EMLADR
	    , B.COMP_ZIP
	    , B.COMP_ADDR1
	    , B.COMP_ADDR2
	    , B.COMP_URL
	    , B.COMP_TEL
	    , B.BANK_CD
	    , B.DEPOSITOR
	    , B.ACCOUNT_NO
	    , B.INDUSTRY_CD
	    , B.COMP_INTRO
	    , C.FILE_PATH AS MEM_PROFILE_PATH
	    , D.MEM_COMP_TEL
	    , D.MEM_COMP_EMAIL
	
	FROM MEMBER A
	LEFT OUTER JOIN COMPANY B
	       ON A.MEM_NO = B.MEM_NO
	LEFT OUTER JOIN MEM_COMP D
	       ON A.MEM_NO = D.MEM_NO
	LEFT OUTER JOIN ATTACH_FILE_DETAIL C
	       ON A.MEM_PROFILE = C.ATTACH_NO
	WHERE A.MEM_ID = #{username}

	</select>
	
	<!-- 기업회원 정보 수정 (회원-기업 공통 정보) -->
	<update id="updateMemComp" parameterType="kr.or.ddit.mohaeng.vo.MemCompVO">
	    UPDATE MEM_COMP
	    <set>
	        <if test="memCompTel != null">MEM_COMP_TEL = #{memCompTel},</if>
	        <if test="memCompEmail != null">MEM_COMP_EMAIL = #{memCompEmail}</if>
	    </set>
	    WHERE MEM_NO = #{memNo}
	</update>
	
	<!-- 기업 정보 수정 (기업 고유 정보) -->
	<update id="updateCompany" parameterType="kr.or.ddit.mohaeng.vo.CompanyVO">
	    UPDATE COMPANY
	    <set>
	        <if test="compUrl != null">COMP_URL = #{compUrl},</if>
	        <if test="compIntro != null">COMP_INTRO = #{compIntro},</if>
	        <if test="bankCd != null">BANK_CD = #{bankCd},</if>
	        <if test="depositor != null">DEPOSITOR = #{depositor},</if>
	        <if test="accountNo != null">ACCOUNT_NO = #{accountNo}</if>
	    </set>
	    WHERE MEM_NO = #{memNo}
	</update>
	
	
	
    
</mapper>