<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mohaeng.payment.mapper.IPaymentMapper">
	
	<!--  결제  -->
	<insert id="insertPayment" parameterType="kr.or.ddit.mohaeng.vo.PaymentVO" useGeneratedKeys="true">
		<selectKey keyProperty="payNo" resultType="int" order="BEFORE">
			select seq_payment.nextval from dual
		</selectKey>
		INSERT INTO payment (
		    pay_no, mem_no, pay_total_amt, use_point, pay_method_cd
		    , pay_dt, pay_status, payment_key
		) VALUES (
			#{payNo}, #{memNo}, #{payTotalAmt}, #{usePoint}, #{payMethodCd}
			, #{payDt}, #{payStatus}, #{paymentKey}
		)
	</insert>

	<!-- 결제 상세 정보 -->
	<insert id="insertPaymentInfo" parameterType="kr.or.ddit.mohaeng.vo.PaymentInfoVO">
		INSERT INTO payment_info (
	        pay_no, tid, pay_method_type
	        , card_corp_code, auth_no, vbank_num
	        , vbank_exp_dt,  res_code, res_msg
	        , pay_raw_data
	    ) VALUES (
	        #{payNo}, #{tid}, #{payMethodType}
	        , #{cardCorpCode}, #{authNo}, #{vbankNum}
	        , #{vbankExpDt}, #{resCode}
	        , #{resMsg}, #{payRawData, jdbcType=CLOB}
	    )
	</insert>
	
	<!-- 포인트 적립 -->
	<update id="insertPoint" parameterType="kr.or.ddit.mohaeng.vo.MemberVO">
		UPDATE member
			SET
			    point = point + #{point}
			WHERE
		        mem_no = #{memNo}
	</update>
	
	<!-- 포인트 사용 -->
	<update id="updatePoint" parameterType="kr.or.ddit.mohaeng.vo.MemberVO">
		UPDATE member
			SET
			    point = point - #{point}
			WHERE
		        mem_no = #{memNo}
	</update>
	
</mapper>