<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mohaeng.tripschedule.mapper.ITripScheduleMapper">
	<select id="selectRegionList" resultType="kr.or.ddit.util.Params">
		SELECT RGN_NO
			 , RGN_NO AS CODE
			 , RGN_NM
			 , RGN_NM AS NAME
			 , RGN_DETAIL
			 , RGN_DETAIL AS SUB
			 , RGN_DESC
			 , ATTACH_NO
			 , LATITUDE
			 , LONGITUDE
			 , POP_RGN_YN
		  FROM REGION
	</select>
	
	<select id="selectPopRegionList" resultType="kr.or.ddit.util.Params">
		SELECT RGN_NO
			 , RGN_NO AS CODE
			 , RGN_NM
			 , RGN_NM AS NAME
			 , RGN_DETAIL
			 , RGN_DETAIL AS SUB
			 , RGN_DESC
			 , ATTACH_NO
			 , LATITUDE
			 , LONGITUDE
			 , POP_RGN_YN
		  FROM REGION
		 WHERE POP_RGN_YN = 'Y'
	</select>
	
	<select id="selectTourPlaceList" resultType="kr.or.ddit.mohaeng.vo.TourPlaceVO">
		SELECT PLC_NO
			 , RGN_NO
			 , PLACE_TYPE
			 , PLC_NM
			 , PLC_DESC
			 , PLC_ZIP
			 , PLC_ADDR1
			 , PLC_ADDR2
			 , ATTACH_NO
			 , LATITUDE
			 , LONGITUDE
			 , OPERATION_HOURS
			 , PLC_PRICE
			 , REG_ID
			 , REG_DT
			 , MOD_ID
			 , MOD_DT
			 , PCL_STATUS_CD
			 , POP_TRVL_YN
			 , DEFAULT_IMG
		  FROM TOUR_PLACE
	</select>
	
	<select id="searchRegion" resultType="kr.or.ddit.util.Params" parameterType="kr.or.ddit.util.Params">
		SELECT RGN_NO
			 , RGN_NO AS CODE
			 , RGN_NM
			 , RGN_NM AS NAME
			 , RGN_DETAIL
			 , RGN_DETAIL AS SUB
			 , RGN_DESC
			 , ATTACH_NO
			 , LATITUDE
			 , LONGITUDE
			 , POP_RGN_YN
		  FROM REGION
		 WHERE RGN_NO = #{rgnNo}
	</select>
	
	<update id="mergeSearchTourPlace" parameterType="java.util.List">
	MERGE INTO TOUR_PLACE T
	      USING (
	          <foreach collection="list" item="item" separator="UNION ALL">
	              SELECT #{item.plcNo}     AS PLC_NO
	                   , #{item.rgnNo}     AS RGN_NO
	                   , #{item.placeType} AS PLACE_TYPE
	                   , #{item.plcNm}     AS PLC_NM
	                   , #{item.plcZip}    AS PLC_ZIP
	                   , #{item.plcAddr1}  AS PLC_ADDR1
	                   , #{item.plcAddr2}  AS PLC_ADDR2
	                   , #{item.latitude}  AS LATITUDE
	                   , #{item.longitude} AS LONGITUDE
	                   , #{item.regId}     AS REG_ID
	                   , #{item.defaultImg} AS DEFAULT_IMG
	              FROM DUAL
	          </foreach>
	      ) S
	      ON (T.PLC_NO = S.PLC_NO)
	      WHEN MATCHED THEN
	          UPDATE SET 
	                T.RGN_NO      = S.RGN_NO
	              , T.PLACE_TYPE  = S.PLACE_TYPE
	              , T.PLC_NM      = S.PLC_NM
	              , T.PLC_ZIP     = S.PLC_ZIP
	              , T.PLC_ADDR1   = S.PLC_ADDR1
	              , T.PLC_ADDR2   = S.PLC_ADDR2
	              , T.LATITUDE    = S.LATITUDE
	              , T.LONGITUDE   = S.LONGITUDE
	              , T.DEFAULT_IMG = S.DEFAULT_IMG
	              , T.MOD_ID	  = S.REG_ID  
	              , T.MOD_DT      = SYSDATE  
	            WHEN NOT MATCHED THEN
	          INSERT (
	                PLC_NO
	              , RGN_NO
	              , PLACE_TYPE
	              , PLC_NM
	              , PLC_ZIP
	              , PLC_ADDR1
	              , PLC_ADDR2
	              , LATITUDE
	              , LONGITUDE
	              , REG_ID
	              , DEFAULT_IMG
	              , REG_DT  
	          ) VALUES (
	                S.PLC_NO
	              , S.RGN_NO
	              , S.PLACE_TYPE
	              , S.PLC_NM
	              , S.PLC_ZIP
	              , S.PLC_ADDR1
	              , S.PLC_ADDR2
	              , S.LATITUDE
	              , S.LONGITUDE
	              , S.REG_ID
	              , S.DEFAULT_IMG
	              , SYSDATE
	          )
	</update>
	
	<select id="searchPlaceDetail" parameterType="kr.or.ddit.util.Params" resultType="kr.or.ddit.mohaeng.vo.TourPlaceVO">
		SELECT PLC_NO
			 , RGN_NO
			 , PLACE_TYPE
			 , PLC_NM
			 , PLC_DESC
			 , PLC_ZIP
			 , PLC_ADDR1
			 , PLC_ADDR2
			 , ATTACH_NO
			 , LATITUDE
			 , LONGITUDE
			 , OPERATION_HOURS
			 , PLC_PRICE
			 , REG_ID
			 , REG_DT
			 , MOD_ID
			 , MOD_DT
			 , PCL_STATUS_CD
			 , POP_TRVL_YN
			 , DEFAULT_IMG
		  FROM TOUR_PLACE
		 WHERE PLC_NO = #{plcNo}
	</select>
	
	<update id="saveTourPlacInfo" parameterType="kr.or.ddit.mohaeng.vo.TourPlaceVO">
		UPDATE TOUR_PLACE
		   SET PLC_DESC = #{plcDesc}
			 , OPERATION_HOURS = #{operationHours}
			 , PLC_PRICE = #{plcPrice}
		 WHERE PLC_NO = #{plcNo}
	</update>
	
	<insert id="insertTripSchedule" parameterType="kr.or.ddit.mohaeng.vo.TripScheduleVO">
		<selectKey keyProperty="schdlNo" resultType="int" order="BEFORE">
	        SELECT NVL(MAX(SCHDL_NO)+1, 1) FROM TRIP_SCHEDULE
	    </selectKey>
		INSERT INTO TRIP_SCHEDULE (
		       SCHDL_NO
		     , MEM_NO
		     , PREF_NO
		     , START_PLACE_TYPE
		     , START_PLACE_ID
		     , TARGET_PLACE_TYPE
		     , TARGET_PLACE_ID
		     , SCHDL_STATUS
		     , SCHDL_START_DT
		     , SCHDL_END_DT
		     , TRAVELER_CNT
		     , TOTAL_BUDGET
		     , AI_RECOM_YN
		     , PUBLIC_YN
		     , REG_DT
		     , DEL_YN
			 ) VALUES (
			   #{schdlNo}
			 , #{memNo}
			 , #{prefNo, jdbcType=INTEGER}
			 , #{startPlaceType}
			 , #{startPlaceId}
			 , #{targetPlaceType}
			 , #{targetPlaceId}
			 , #{schdlStatus}
			 , #{schdlStartDt}
			 , #{schdlEndDt}
			 , #{travelerCnt}
			 , #{totalBudget}
			 , #{aiRecomYn}
			 , #{publicYn}
			 , sysdate
			 , 'N'
			 )
	</insert>
	
	<insert id="insertTripScheduleDetails" parameterType="kr.or.ddit.mohaeng.vo.TripScheduleDetailsVO">
		<selectKey keyProperty="schdlDetailsNo" resultType="int" order="BEFORE">
	        SELECT NVL(MAX(SCHDL_DETAILS_NO) + 1, 1) FROM TRIP_SCHEDULE_DETAILS
	    </selectKey>
		INSERT INTO TRIP_SCHEDULE_DETAILS (
			   SCHDL_DETAILS_NO
			 , SCHDL_NO
			 , SCHDL_TITLE
			 , SCHDL_START_DT
			 , SCHDL_END_DT
			 , SCHDL_DT
			 ) VALUES (
			   #{schdlDetailsNo}
			 , #{schdlNo}
			 , #{schdlTitle}
			 , TO_CHAR(TO_DATE(#{schdlStartDt}, 'YYYY-MM-DD') + (#{schdlDt}-1), 'YYYY-MM-DD')
			 , TO_CHAR(TO_DATE(#{schdlStartDt}, 'YYYY-MM-DD') + (#{schdlDt}), 'YYYY-MM-DD')
			 , #{schdlDt}
			 )
	</insert>
	
	<insert id="insertTripSchedulePlace" parameterType="kr.or.ddit.mohaeng.vo.TripSchedulePlaceVO">
		<selectKey keyProperty="schdlPlcNo" resultType="int" order="BEFORE">
	        SELECT NVL(MAX(SCHDL_PLC_NO) + 1, 1) FROM TRIP_SCHEDULE_PLACE
	    </selectKey>
		INSERT INTO TRIP_SCHEDULE_PLACE (
			   SCHDL_PLC_NO
			 , SCHDL_DETAILS_NO
			 , PLACE_TYPE
			 , PLACE_ID
			 , PLACE_ORDER
			 , PLACE_START_TIME
			 , PLACE_END_TIME
			 , ALL_DAY_YN
			 , DEST_TYPE
			 , DEST_ID
<!-- 			 , MOVE_TYPE -->
			 , PLAN_COST
			 ) VALUES (
			   #{schdlPlcNo}
			 , #{schdlDetailsNo}
			 , #{placeType}
			 , #{placeId}
			 , #{placeOrder}
			 , #{placeStartTime}
			 , #{placeEndTime}
			 , #{allDayYn}
			 , #{placeType}
			 , #{placeId}
<!-- 			 , :v10 -->
			 , #{planCost}
			 )
	</insert>
	
</mapper>