<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mohaeng.admin.contents.tripschedule.mapper.IAdminTripscheduleMapper">
	
	<resultMap id="tripScheduleResultMap" type="kr.or.ddit.mohaeng.vo.TripScheduleVO">
        <id property="schdlNo" column="SCHDL_NO" />
        
        <result property="memNo"            column="MEM_NO" />
        <result property="prefNo"           column="PREF_NO" />
        <result property="startPlaceType"   column="START_PLACE_TYPE" />
        <result property="startPlaceId"     column="START_PLACE_ID" />
        <result property="targetPlaceType"  column="TARGET_PLACE_TYPE" />
        <result property="targetPlaceId"    column="TARGET_PLACE_ID" />
        <result property="schdlNm"   	    column="SCHDL_NM" />
        <result property="schdlStatus"      column="SCHDL_STATUS" />
        <result property="schdlStartDt"     column="SCHDL_START_DT" />
        <result property="schdlEndDt"       column="SCHDL_END_DT" />
        <result property="travelerCnt"      column="TRAVELER_CNT" />
        <result property="totalBudget"      column="TOTAL_BUDGET" />
        <result property="aiRecomYn"        column="AI_RECOM_YN" />
        <result property="publicYn"         column="PUBLIC_YN" />
        <result property="regDt"            column="TS_REG_DT" />
        <result property="modDt"            column="TS_MOD_DT" />
        <result property="bkmkYn"           column="BKMK_YN" />

        <collection property="tripScheduleDetailsList" 
                    resultMap="tripScheduleDetailsResultMap" 
                    notNullColumn="SCHDL_DETAILS_NO" />
    </resultMap>

    <resultMap id="tripScheduleDetailsResultMap" type="kr.or.ddit.mohaeng.vo.TripScheduleDetailsVO">
        <id property="schdlDetailsNo" column="SCHDL_DETAILS_NO" />
        <result property="schdlNo"      column="SCHDL_NO" />
        <result property="schdlTitle"   column="SCHDL_TITLE" />
        <result property="schdlStartDt" column="DETAILS_START_DT" />
        <result property="schdlEndDt"   column="DETAILS_END_DT" />
        <result property="schdlDt"      column="SCHDL_DT" />
        <result property="bgColor"      column="BG_COLOR" />
                            
        <collection property="tripSchedulePlaceList" 
                    resultMap="tripSchedulePlaceResultMap" 
                    notNullColumn="SCHDL_PLC_NO" />
    </resultMap>

    <resultMap id="tripSchedulePlaceResultMap" type="kr.or.ddit.mohaeng.vo.TripSchedulePlaceVO">
        <id property="schdlPlcNo" column="SCHDL_PLC_NO" />
        <result property="schdlDetailsNo" column="SCHDL_DETAILS_NO" />
        <result property="placeType"      column="PLACE_TYPE" />
        <result property="placeId"        column="PLACE_ID" />
        <result property="planCost"       column="PLAN_COST" />
        <result property="placeOrder"     column="PLACE_ORDER" />
        <result property="placeStartTime" column="PLACE_START_TIME" />
        <result property="placeEndTime"   column="PLACE_END_TIME" />
        <result property="allDayYn"       column="ALL_DAY_YN" />
        <result property="destType"       column="DEST_TYPE" />
        <result property="destId"         column="DEST_ID" />
        <result property="moveType"       column="MOVE_TYPE" />
        <result property="plcNm"       	  column="PLC_NM" />
        
        <association property="tourPlace" resultMap="tourPlaceResultMap" />
    </resultMap>
    
    <resultMap id="tourPlaceResultMap" type="kr.or.ddit.mohaeng.vo.TourPlaceVO">
    	<id property="plcNo" column="PLC_NO" />
	    <result property="placeType" column="PLACE_TYPE" />
	    <result property="placeTypeName" column="PLACE_TYPE_NAME" />
        <result property="placeName"      column="PLACE_NAME" />
	    <result property="plcNm" column="PLC_NM" />
	    <result property="plcDesc" column="PLC_DESC" />
	    <result property="plcZip" column="PLC_ZIP" />
	    <result property="attachNo" column="IMG_ATTACH_NO" />
	    <result property="latitude" column="LATITUDE" />
	    <result property="longitude" column="LONGITUDE" />
	    <result property="operationHours" column="OPERATION_HOURS" />
	    <result property="plcPrice" column="PLC_PRICE" />
	    <result property="regId" column="REG_ID" />
	    <result property="regDt" column="REG_DT" />
	    <result property="modId" column="MOD_ID" />
	    <result property="modDt" column="MOD_DT" />
	    <result property="pclStatusCd" column="PCL_STATUS_CD" />
	    <result property="popTrvlYn" column="POP_TRVL_YN" />
	    <result property="defaultImg" column="DEFAULT_IMG" />
	    <result property="plcAddr1" column="PLC_ADDR1" />
	    <result property="plcAddr2" column="PLC_ADDR2" />
	</resultMap>
	
	<resultMap id="TripSchedule" type="kr.or.ddit.mohaeng.vo.TripScheduleVO">
	    <id property="schdlNo" column="SCHDL_NO" />
	    <result property="memNo" column="MEM_NO" />
	    <result property="prefNo" column="PREF_NO" />
	    <result property="startPlaceType" column="START_PLACE_TYPE" />
	    <result property="startPlaceId" column="START_PLACE_ID" />
	    <result property="targetPlaceType" column="TARGET_PLACE_TYPE" />
	    <result property="targetPlaceId" column="TARGET_PLACE_ID" />
	    <result property="schdlNm" column="SCHDL_NM" />
	    <result property="schdlStatus" column="SCHDL_STATUS" />
	    <result property="schdlStsNm" column="SCHDL_STS_NM" />
	    <result property="schdlStartDt" column="SCHDL_START_DT" />
	    <result property="schdlEndDt" column="SCHDL_END_DT" />
	    <result property="travelerCnt" column="TRAVELER_CNT" />
	    <result property="totalBudget" column="TOTAL_BUDGET" />
	    <result property="aiRecomYn" column="AI_RECOM_YN" />
	    <result property="publicYn" column="PUBLIC_YN" />
	    <result property="regDt" column="TS_REG_DT" />
	    <result property="modDt" column="TS_MOD_DT" />
	    <result property="postCnt" column="POST_CNT" />
	    
<!--         <result property="memId" column="MEM_ID" /> -->
<!--         <result property="memName" column="MEM_NAME" /> -->
        
        <association property="member" resultMap="memberMap" />
        
        <collection property="tripScheduleDetailsList"
            resultMap="tripScheduleDetailsResultMap" 
            notNullColumn="SCHDL_DETAILS_NO" />
	</resultMap>
	
	<resultMap type="kr.or.ddit.mohaeng.vo.MemberVO" id="memberMap">
		<id property="memNo" column="MEM_NO"/>
		<result property="memNo" column="MEM_NO"/>
		<result property="memId" column="MEM_ID"/>
		<result property="memPassword" column="MEM_PASSWORD"/>
		<result property="memName" column="MEM_NAME"/>
		<result property="memEmail" column="MEM_EMAIL"/>
		<result property="memProfile" column="MEM_PROFILE"/>
		<result property="memProfilePath" column="MEM_PROFILE_PATH"/>
		<result property="point" column="POINT"/>
		<result property="memStatus" column="MEM_STATUS"/>
		<result property="delYn" column="DEL_YN"/>
		<result property="wdrwResn" column="WDRW_RESN"/>
		<result property="enabled" column="ENABLED"/>
		<result property="memSnsYn" column="MEM_SNS_YN"/>
		<result property="snsType" column="SNS_TYPE"/>
		<result property="snsId" column="SNS_ID"/>
		<result property="regDt" column="REG_DT"/>
		<result property="udtDt" column="UDT_DT"/>
		<result property="wdrwDt" column="WDRW_DT"/>
		
	        <result property="tel" column="TEL"/>
	        
	</resultMap>
    
    <select id="selectAdminScheduleList" resultMap="TripSchedule">
		SELECT TS.SCHDL_NO
		     , TS.MEM_NO
		     , TS.PREF_NO
		     , TS.START_PLACE_TYPE
		     , TS.START_PLACE_ID
		     , TS.TARGET_PLACE_TYPE
		     , TS.TARGET_PLACE_ID
		     
		     , TS.SCHDL_NM
		     , TS.SCHDL_STATUS
		     , (SELECT C.CD_NAME FROM CODE C WHERE C.CD = TS.SCHDL_STATUS) AS SCHDL_STS_NM
		     
		     , TS.SCHDL_START_DT
		     , TS.SCHDL_END_DT
		     , TS.TRAVELER_CNT
		     , TS.TOTAL_BUDGET
		     , TS.AI_RECOM_YN
		     , TS.PUBLIC_YN
		     , TO_CHAR(TS.REG_DT, 'yyyy-MM-dd')           AS TS_REG_DT
		     , TO_CHAR(TS.MOD_DT, 'yyyy-MM-dd')           AS TS_MOD_DT
		     , R.RGN_NM
		     
		     , (SELECT COUNT(*) FROM TRIP_RECORD TR WHERE TR.SCHDL_NO = TS.SCHDL_NO) AS POST_CNT
		     
		     , TSD.SCHDL_DETAILS_NO
		     , TSD.SCHDL_TITLE
		     , TSD.SCHDL_START_DT  AS DETAILS_START_DT
		     , TSD.SCHDL_END_DT    AS DETAILS_END_DT
		     , TSD.SCHDL_DT
		     , TSD.BG_COLOR
		     
		     , TSP.SCHDL_PLC_NO
		     , TSP.PLACE_TYPE
		     , TSP.PLACE_ID
		     , TSP.PLAN_COST
		     , TSP.PLACE_ORDER
		     , TSP.PLACE_START_TIME
		     , TSP.PLACE_END_TIME
		     , TSP.ALL_DAY_YN
		     , TSP.DEST_TYPE
		     , TSP.DEST_ID
		     , TSP.MOVE_TYPE
		     , (SELECT TP.PLC_NM FROM TOUR_PLACE TP WHERE TP.PLC_NO = TSP.DEST_ID) AS PLC_NM
		     , (SELECT TCT.CONTENT_TYPE_NAME FROM TOUR_CONTENT_TYPE TCT WHERE TCT.CONTENT_TYPE_ID = TSP.PLACE_TYPE) AS PLACE_TYPE_NAME
		      
		     , M.MEM_ID
		     , M.MEM_NAME
		     , M.MEM_EMAIL
		     , (SELECT MU.TEL FROM MEM_USER MU WHERE MU.MEM_NO = TS.MEM_NO) AS TEL
		      
		  FROM TRIP_SCHEDULE TS
		 INNER JOIN MEMBER M
		    ON (TS.MEM_NO = M.MEM_NO)
		 INNER JOIN REGION R
		    ON TS.TARGET_PLACE_ID = R.RGN_NO
	      LEFT JOIN TRIP_SCHEDULE_DETAILS TSD
		    ON TS.SCHDL_NO = TSD.SCHDL_NO
		  LEFT JOIN TRIP_SCHEDULE_PLACE TSP
		    ON TSD.SCHDL_DETAILS_NO = TSP.SCHDL_DETAILS_NO
		 WHERE TS.DEL_YN != 'Y'
		 ORDER BY TS.REG_DT DESC
		 	 , TSD.SCHDL_DT ASC
		     , TSP.PLACE_ORDER ASC
    </select>
</mapper>